body {
  background-color: #282c34;
}

  background-color: #181717;


#sign-in-page {

}

#home-page {

}

#sign-out-button {

}

/* entire side bar */
nav {
  width: 20%;
  background-color: maroon;
  color: white;
}

/* make this clickable to access signout */
#nav-user {
  display: flex;
  flex-direction: row;
}

#nav-user > img {

}

#nav-user > p {

}

#nav-user > svg {

}

#nav-channels-header {
  display: flex;
  flex-direction: row;
}


#nav-channels-header > h2{

}

/* button to create new channel */
#nav-channels-header > button {
  
}


#nav-channels-body{
  display: flex;
  flex-direction: column;
}

/* button(s) to change channels */
.nav-channel-names { 

}

#main-display {
  background-color: red;
}

#user-input {

}

#channel-display {

}

/* every post in channel display */
.post {

}

/* post made by you */
.posted {

}

/* post made by someone else */
.recieved {

}